{% extends "base.html" %}

{% block content %}
<!-- Vertically centered scrollable modal -->

<section>



<div class="card" style="margin-top: 100px; background-color: var(--bg-color);
           color: var(--text-color); border: none;">
<div class="text-center">
  <div class="card-body">
    <h4 class="card-title">Your Notes ({{ count }})</h4>

    <p class="card-text">Your notes will be displayed on this page. Create new note by pressing the button below and filling out the form</p>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  New Note
</button>
  </div> </div>

<!-- Modal -->
<form method="POST" action="">
    {{ form.hidden_tag() }}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">New Note</h5>
      </div>
      <div class="modal-body">


              <div class="mb-3">
                  {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.content.label(class="form-control-label") }}

                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg", rows="5") }}
                    {% endif %}
                </div>



      </div>
      <div class="modal-footer">
        <button  class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="" class="btn btn-primary">Create Note</button>

      </div>
    </div>
  </div>
</div>
</form>

  </div>
</div>

<main role="main" style=" height: auto;">

    {% for note in data %}
    <div class="card" style="

          border: 1px solid var(--border-color);
          background-color: var(--note-color);
          padding: 10px;
            ">
        <div class="card-body"
             style="
           background-color: var(--note-color);
           color: var(--text-color);
           ">
            <h5 class="card-title">{{ note.title }}</h5>
            {% if note.content|length > 88 %}
            <p class="card-text">
                 {{ note.content[0:50] + "...(" + note.content[50:]|length|string + " symbols not shown)" }}
            </p>
            <a href="#" class="card-link" style="color: var(--open-btn-color);" data-bs-toggle="modal" data-bs-target="#editNote_{{ note.id }}">Open</a>

                 {% else %}
            <p class="card-text">
                 {{ note.content }}
            </p>
                 {% endif %}


            <form action="{{ url_for('main_routes.delete_note', note_id=note.id) }}" method="POST" style="float: right;">
                 <input class="card-link" type="submit" value="Delete"
                        style="
                        color: var(--delete-btn-color);
                        background:none;
                        border:none;
                        margin:0;
                        padding:0;">
            </form>

        </div>
    </div>


<div class="modal fade" id="editNote_{{ note.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ note.title }}</h5>
      </div>
      <div class="modal-body" style="overflow-y: auto; word-wrap: break-word;">
                        {{ note.content }}
      </div>
      <div class="modal-footer">
        <button  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


      </div>
    </div>
  </div>
</div>








    {% endfor %}

</main>
</section>

{% endblock %}